name: Check Format
on:
  pull_request:
    types:
      - opened
      - synchronize
      - reopened
      - ready_for_review
      - labeled

# Cancel the current workflow when new commit pushed
concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number }}
  cancel-in-progress: true

jobs:
  check-format:
    name: "Check Scala Format"
    runs-on: [self-hosted, nixos]
    steps:
      - uses: actions/checkout@v4
      - run: nix develop -c mill -i '__.checkFormat'
